{% extends "main.html" %}

{% block extrahead %}
<script>function showTooltip()
{
var myDiv = document.getElementById('tooltip');
if(myDiv.style.display == 'none')
{
myDiv.style.display = 'block';
} else {
myDiv.style.display = 'none';
}
return false;
}</script>
{% endblock %}

{% block center %}
{% if preview %}
<div align='center'>
  <div class="alert" align="center">
  <strong>Это всего лишь предпросмотр!</strong>
  </div>
  <font style='font-size:125%'><b>[{{ ad.category }}] {{ad.name}}</font></b><br>
  Сообщение было послано: {{ad.user}}
</div>
    <br><br>
    {% load bbcode %}
    {{ad.text|bbcode}}<br><br>
    {% if ad.price %}
    <b>Цена:</b> {{ad.price}}<hr>
    {% endif %}
    {% if ad.place %}
    <b>Место:</b> {{ad.place}}<hr>
    {% endif %}
    <hr><br>
{% endif %}
<div align='center'>
{% if errors %}
{% autoescape off %}
<font style='font-size:125%'>
    {% for error in errors %}
	{{error}} <br><br>
    {% endfor %}
</font>
{% endautoescape %}
{% endif %}
<div class="hidden-phone">
	<button class="btn" data-toggle="collapse" data-target="#demo">
	  Скрыть/показать подсказку по bbCode
	</button></br></br>
	<div id="demo" class="collapse in">
	<table class="table table-bordered table-striped">
	  <tr>
	    <td>[b]полужирный текст[/b]</td>
	    <td><strong>полужирный текст</strong></td>
	  <tr>
	  <tr>
	    <td>[i]наклонный текст[/i]</td>
	    <td><i>наклонный текст</i></td>
	  <tr>
	  <tr>
	    <td>[img]http://example.org/logo.png[/img] или<br>
	        [pic]http://example.org/logo.png[/pic]</td>
	    <td>Картинка.<br>
	        Рекомендуем хостинг катринок <a href="http://i.zlowiki.ru/" target="_blank">http://i.zlowiki.ru/</a></td>
	  <tr>
	  <tr>
	    <td>[url=http://wikipedia.org]Википедия[/url] или [url]http://ru.wikipedia.org[/url]</td>
	    <td><a href="http://wikipedia.org" target="_blank">Википедия</a> или <a href="http://ru.wikipedia.org" target="_blank">http://ru.wikipedia.org</a></td>
	  <tr>
	</table>
	<a href="http://ru.wikipedia.org/wiki/BbCode" target="_blank">подробнее о тегах...</a>
	</div>
</div>
    <form action="." method="post">{% csrf_token %}
    {{addform.errors}}<br>
    Категория: {{addform.category}} {{addform.name}}<br><br>
    {{addform.text}}<br>
    Цена (не обязательно): {{addform.price}}<br><br>
    Место (не обязательно): {{addform.place}}<br><br>
<input name="preview" type="submit" value="Предварительный просмотр" {% if not user.is_authenticated %} disabled="disabled" {% endif %}>    
<input name="post" type="submit" value="{% if not ad_edit %}Добавить{% else %}Сохранить изменения{% endif %}" {% if not user.is_authenticated %} disabled="disabled" {% endif %}>
    </form>
</div>
{%endblock %}
