{% extends "main.html" %}

{% block title %}Барахолка Физтеха - {{ ad.name }}{% endblock %}

{% block center %}
<div align='center'>
    <font style='font-size:125%'><b>[{{ ad.category }}] {{ad.name}}</font></b><br>
    Сообщение было послано: {% ifequal user ad.user %}<b style='color:red'>{% else %}<b style='color:darkgreen'>{% endifequal %}{{ad.user}}</b> <a href="{% url postman_write ad.user %}">(Написать)</a><br>
    Дата: {{ad.created|date:"l, F j G:i:s Y"}}<br>    
    {% ifequal user ad.user %}<a href="/edit/{{ ad.id }}">Редактировать</a><br><a href="/archive/{{ ad.id }}">Продано (убрать из списка объявлений)</a>{% endifequal %}
        <div id="vk_like"></div>
    <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "button"});
    </script>
</div>
    <br><br>
    {% if errors %}
{% autoescape off %}
     {% for error in errors %}
     <center><font style='color:red;font-size:125%'>{{error}}</font></center><br>
     {% endfor %}
{% endautoescape %}
    {% endif %}<br>
    {% load bbcode %}
    {{ad.text|bbcode}}<br><br>
    {% if ad.price %}
    <b>Цена:</b> {{ad.price}}<hr>
    {% endif %}
    {% if ad.place %}
    <b>Место:</b> {{ad.place}}<hr>
    {% endif %}
    {% for comment in comments_list %}
    <small>Комментрий пользователя {% ifequal user comment.user %}<b style='color:red'>{% else %}<b style='color:darkgreen'>{% endifequal %}{{comment.user}}</b> <a href="{% url postman_write comment.user %}">(Написать)</a>, оставлен {{comment.created}}</small><br>
    {{comment.text|bbcode}}<hr>
    {% endfor %}
    <center>

    <form action="." method="post">{% csrf_token %}
    Добавить комментарий:<br>{{comform.text}}<br>
    <input type="submit" value="Добавить">
    </form>
    </center>
{%endblock %}
