{% extends "main.html" %}

{% block content %}
  <ul class="nav nav-tabs">
    <li {% ifequal section "profile" %} class="active" {% endifequal %}>
      <a href="/cabinet"><i class="icon-user"></i> Профиль</a>
    </li>
    <li {% ifequal section "my_ads" %} class="active" {% endifequal %}>
	  <a href="/cabinet/item"><i class="icon-th-list"></i> Мои объявы</a>
    </li>
    <li>
      <a href="/cabinet/msg"><i class="icon-envelope"></i> Личные сообщения{% if postman_unread_count%}<span class="badge badge-warning">{{postman_unread_count}}</span>{% endif %}</a>
    </li>
  </ul>
      
  <div class="span12 well">
    {% block info %}
      <p>Имя: {{user.get_profile.fullname}}</p>
      <p>e-mail: {{user.email}}</p>
	  <p>Контакты: {{user.get_profile.info}}</p>
	
      {% if errors %}
        {% for error in errors %}
          <p>{{error}}</p>
        {% endfor %}
      {% endif %}

	  <form action="." method="POST">{% csrf_token %}
        <ul>
          {{passform.as_ul}}
        </ul>
        <input class="btn" type="submit" value="Изменить пароль">
	  </form>
    {% endblock %}
  </div>

{%endblock %} <!-- content -->
