<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Барахолка Физтеха{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Unknown" >

    <!-- Styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    
    <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28955683-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();	
	</script>
	<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>
	<script type="text/javascript">
	  VK.init({apiId: 2817356, onlyWidgets: true});
	</script>
    {% block extrahead %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Барахолка Физтеха</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {% ifequal section 'adverts' %} class="active" {% endifequal %}>
                <a href="/"><i class="icon-th-list {% ifequal section 'adverts' %} icon-white {% else %} icon-gray {% endifequal %}"></i> Объявления</a>
              </li>
              <li {% ifequal section 'new' %} class="active" {% endifequal %}>
                <a href="/add"><i class="icon-plus {% ifequal section 'new' %} icon-white {% else %} icon-gray {% endifequal %}"></i> Добавить</a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
          <form class="navbar-search pull-left" action="/search">
            <input type="text" name="q" class="search-query span2" placeholder="Поиск">
          </form>
          <ul class="nav pull-right">
            {% if user.is_authenticated %}
              <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user icon-white"></i> {{user.username}}{% if postman_unread_count%} <span class="badge badge-warning">{{postman_unread_count}}</span>{% endif %}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- dropdown menu links -->
                  <li><a href="/cabinet"><i class="icon-wrench"></i> Настройки</a></li>
                  <li><a href="/cabinet/msg"><i class="icon-envelope"></i> Сообщения{% if postman_unread_count%} <span class="badge badge-warning">{{postman_unread_count}}</span>{% endif %}</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout"><i class="icon-off"></i> Выйти</a></li>
                </ul>
              </div>
            {% else %}
              <li><a href="/login" rel="nofollow">Войти</a></h3></li>
              <li><a href="/reg" rel="nofollow">Зарегистрироваться</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

	{% if messages %}
	  {% for message in messages %}
	    <div class="alert alert-info" align="center">
	      <a class="close" data-dismiss="alert" href="#">×</a>
	      {{ message }}
	    </div>
	  {% endfor %}
	{% endif %}
	
	{% if postman_unread_count%}
	  <div class="alert alert-warning" align="center">
	    <a class="close" data-dismiss="alert" href="#">×</a>
	    У вас есть непрочитанные личные сообщения. <a href="/cabinet/msg">Прочитать.</a>
	  </div>
	{% endif %}

    <div class="container">
      <div class="row-fluid">
      {% block content %}
        <div class="span3"> <!-- categories -->
        {% block leftsidebar %}
        {% load mytags %}
          <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list">
              <li class="nav-header">
                Категории:
              </li>
              <li> <!-- TODO: insert active -->
                <a href="/"><i class="icon-th"></i> Все</a>
              </li>
              {% for category in category_list %}
	            <li>
	                 <a href='/cat/{{category.id}}'><i class="{{category.name|category_icon_class}}"></i> {{category.name}}</a>
                </li>
	          {% endfor %}
            </ul>
          </div>
          <div class="well hidden-phone" style="padding: 8px 0;">
            <ul class="nav nav-list">
              <li class="nav-header">
                Последние новости
              <li>
              {% for news in news_list %}
                <li><a href="/news/{{news.id}}">{{news.name}}</a></li>
              {% endfor %}
              <li class="divider"></li>
              <li><a href='/news'>все</a></li>
            </ul>
          </div>
        {% endblock %}
        </div> <!-- /categories -->
        <div class="span9"> <!-- adverts -->
        <div class="well">        
        {% block center %}
          <ul class="nav nav-list" style="padding: 0;">
            <li class="nav-header">{% if p_num == 1 %}П{%else%}Не п{%endif%}оследние {{ads_list|length}} объявлений</li>
            <li class="divider"></li>
  	        {% for ad in ads_list %}
  	          <li>
  	            <a href='/item/{{ad.id}}'>
  	              [{{ ad.category }}] {{ad.name}} - 
  	              {% ifequal user ad.user %}
  	                <b style='color:red'>
  	              {% else %}
  	                <b style='color:darkgreen'>
  	              {% endifequal %}{{ad.user}}</b>
  	              {% if ad.comment_set.all %}
  	              <span class="badge comment_count" rel="tooltip" data-original-title="количество комментариев">
  	                <i class="icon-comment"></i> {{ad.comment_set.all|length}}
  	              </span>
  	              {% endif %}
  	               - <font style='font-size:75%'>{{ad.created|date:"j/n/Y H:i"}}</font>
  	            </a>
  	          </li>
  	        {% endfor %}
	      </ul>
        {% endblock %}
        </div> 
        {% block paging %}
          <div class="pagination" align="center">
            <ul>
              {% for page_num in pages_num %}
                <li {% ifequal p_num page_num %}class="active"{% endifequal %}><a href="{% if num %}/cat/{{num}}{%endif%}/page/{{page_num}}">{{page_num}}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endblock %}    
        </div> <!-- /adverts -->
      {% endblock %}
      </div>
    </div> <!-- /container -->

    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    {% block script %}  
      <script>
        $(function()
        { $(".comment_count").tooltip();
        });
      </script>
    {% endblock %}
  </body>
</html>
