{% extends "main.html" %}

{% block content %}
<div align='center'>
    {% if regform.errors %}
	{{regform.errors}}
    {% endif %}
<form action='.' method='post'>{% csrf_token %}
<table>
    <tr>
	<td>
	    <b>Имя пользователя:</b>
	</td>
	<td>
	    {{regform.username}}
	</td>
    </tr>
    <tr>
	<td>
	    <b>Пароль:</b>
	</td>
	<td>
	    {{regform.passw}}
	</td>
    </tr>
    <tr>
	<td>
	    <b>Пароль еще раз:</b>
	</td>
	<td>
	    {{regform.passw_again}}
	</td>
    </tr>
    <tr>
	<td>
	    <b>Полное имя:</b>
	</td>
	<td>
	    {{regform.fullname}}
	</td>
    </tr>
    <tr>
	<td>
	    <b>E-mail адрес:</b>
	</td>
	<td>
	    {{regform.email}}
	</td>
    </tr>
    <tr>
	<td>
	    <b>Контактная информация:</b>
	</td>
	<td>
	    {{regform.info}}
	</td>
    </tr>
    <tr>
	<td>
	    &nbsp;
	</td>
	<td>
	    <input type="submit" value="Зарегистрироваться">
	</td>
    </tr>
</table>
</form>
</div>
{%endblock %}
