<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style type="text/css">
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline}
</style>
</head>
<body>
<a style="color:#A9B7C9;font-weight:bold;line-height:30px" href="http://{{domain}}" target="_top">Барахолка Физтеха</a><br>

{% load mytags %}
{% for ad in ads %}
  <a style="color:white;font-size:13px;text-decoration:underline" href="http://{{domain}}/item/{{ad.id}}" target="_top">{{ad.name|cutlen:20}}{%if ad.name|length > 20 %}...{% endif %}</a> <font style="color:#B8C8DB;font-size:10px">{{ad.created|date:"d/m"}}</font><br>
{% endfor %}
</body>
</html>
