<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style type="text/css">
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline}
</style>
</head>
<body>
<a style="color:white;font-weight:bold;font-size:14px;font-family: Arial, 'Helvetica sans-serif'" href="http://{{domain}}" target="_top">Барахолка Физтеха</a><br>

{% load mytags %}
{% for ad in ads %}
  <font style="color:white;font-size:12px">{{ad.created|date:"d/m"}}</font> 
  <a style="color:#B8C8DB;font-size:12px;font-family: Arial, 'Helvetica sans-serif'" href="http://{{domain}}/item/{{ad.id}}" alt="{{ad.name}}" target="_top">{{ad.name|cutlen:20}}{%if ad.name|length > 20 %}...{% endif %}</a><br>
{% endfor %}
</body>
</html>
