{% extends "main.html" %}

{% block content %}
<div align='center'>
    {% if form.errors %}
	<p class="error">Сожалеем, вы неправильно ввели логин или пароль.</p>
    {% endif %}

    <form action='.' method='post'>{% csrf_token %}
	<label for="username">Логин:</label>
        <input type="text" name="username" value="" id="username"><br>
        <label for="password">Пароль:</label>
        <input type="password" name="password" value="" id="password"><br><br>
        <input type="submit" value="Войти" />
        <input type="hidden" name="next" value="/" />
    </form>
</div>
{%endblock %}
